name: Build and Push Docker Image

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        run: docker login --username ${{ secrets.DOCKER_USERNAME }} --password ${{ secrets.DOCKER_PASSWORD }}
      - name: "Building dockerimage"
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/myimage .
      - name: "pushing to dockerhub"
        run: docker push ${{ secrets.DOCKER_USERNAME }}/myimage