name: Build and Push Docker Image

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      -uses : actions/checkout@v3

      -name: "Login to DockerHub"
      run : docker login --username Hesham Fared --password dckr_pat_FGtnDx6rry-FS63DKENg4cg9ylw
      
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: dockerhub_username/IMAGE_NAME:latest




